/* .reportview-container .main .block-container{
    max-width: 780px;
} */

@media (streamlit-theme: dark) {
    .hamburger {
        display: block;
        width: 10%;
        background-color: blue;

    }

    div.css-1l269bu.e1tzin5v2{
        background-color: blue;
       }
}

/* RESIZE COLUMNS LEFT and RIGHT */
@media only screen and (orientation: landscape) and (max-width: 1400px){
    div.css-1l269bu.e1tzin5v2{
        display: none;
       }
}

@media (min-width: 1024px) and (max-width: 1200px){
    div.css-1l269bu.e1tzin5v2{
        display: none;
        /* padding-left: 5%;
        padding-right: 5%; */
        background-color: blue;
       }
}

/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }
    
/* APPLYING MEDIA QUERIES */
@media (max-width: 992px)  {

    .menu { 
        display: none;
        position: sticky;
        background-color:rgb(246, 250, 250);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    
    .menu li:hover {
        display: inline-block;
        background-color:rgb(33, 4, 249);
        transition: 0.3s ease;
    }
    
    .menu li + li {
        margin-top: 12px;
    }
   
    input[type=checkbox]:checked ~ .menu{
        display: flex;
        position: sticky;
        flex-direction: column;
        text-align: left;
        width: 60%;
        /* left: 0rem;
        top: 0rem; */
        padding-top: 0%;
        padding-left: 0%;
    }
    
    .hamburger {
        display: block;
        background-color: transparent;
        width: 10%;
    }
    
    .dropdown {
        left: 10%;
        top: 30px;
        transform: translateX(35%);
    }
    
    .dropdown li:hover {
        background-color: rgba(249, 192, 4);
    }

    div.css-1l269bu.e1tzin5v2{
        display: none;
       }
    
}

.navbar{
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
    width: 71%;
    /* background: #FF2872; */
    background: rgba(248, 245, 245, 0.987);
    z-index: 99999999999999999999;
    left:14%;
    right:14%;
    height: 60px;

}

.navitem{
    float: left;
    /*display: block;*/
    color:black !important;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none !important;
    /* border: 2px solid white; */
    border-bottom: 2px solide transparent;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

.navitem:hover{
    background-color: rgb(249, 192, 4);
    height: 55px !important;
    color: white !important;
    
}


.settings{
    height: 0rem;
}

.version-span{
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1.75rem;
    opacity: 0.5;
    z-index: 9999;
    border: 2px solid #333;
    border-radius: 25px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: #333;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    height: 55px;
    opacity: 0.5;
    filter: invert(1);
    cursor: pointer;
    transition: 0.3s;
}

.dropbtn:hover, .dropbtn:focus {
    opacity:1;
}

.dropdown {
    position: fixed;
    display: inline-block;
    right: 0rem;
    top: 0rem;
}

.dropdown-content {
    visibility: hidden;
    position: fixed;
    border-radius: 9px;
    background-color: #333;
    min-width: 160px;
    overflow: auto;
    right:0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover{
    background-color: rgba(221, 221, 221, 0.233);
    background: rgba(221, 221, 221, 0.233);
}

.dropdown a:hover {background-color: rgba(221, 221, 221, 0.233);}

iframe{
    height: 0rem;
}